@charset "utf-8";
*{
    font-family: Arial, Helvetica, sans-serif;  
}
body{
    background-image: linear-gradient(to right, #7A7A7A, #085454);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #053d3d;
    width: 600px;
    padding: 10px;
    margin: auto; 
}
p{
    text-align: justify;
}

h1{
    color: #001542;
    text-align: center;
    text-shadow: 1px 1px 1px#0a152d;
}
h2{
    color: #FFB30D;
}